name: GitHub Classroom Workflow
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    name: Autograding
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: docker/setup-buildx-action@v2

      - name: Set up k8s
        uses: azure/setup-kubectl@v3
        with:
          version: 'v1.28.0'

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: 'v3.16.4'

      - name: Install Yandex Cloud CLI
        run: |
          curl -sSL https://storage.yandexcloud.net/yandexcloud-yc/install.sh | bash
          echo "${HOME}/yandex-cloud/bin" >> $GITHUB_PATH
          echo "Yandex Cloud CLI installed and added to PATH"

      # - name: Docker build
      #   run: docker compose build

      # - name: Publish to Docker Hub
      #   run: |
      #     docker login -u mamre32 -p ${{secrets.DOCKERHUB_PASSWORD}}
      #     docker compose push

      - name: Publish to Yandex Cloud
        timeout-minutes: 10
        env:
          YC_SERVICE_ACCOUNT_KEY: ${{ secrets.YC_SERVICE_ACCOUNT_KEY }}
        run: |
          echo "$YC_SERVICE_ACCOUNT_KEY" > sa-key.json
          export YC_SERVICE_ACCOUNT_KEY_FILE=sa-key.json
          yc config set service-account-key sa-key.json
          yc config set cloud-id b1gc22nq88j1ubeekuaq
          yc config set folder-id b1gtbc67fv6n4vd28msi
          mkdir -p ~/.kube
          yc managed-kubernetes cluster list
          yc managed-kubernetes cluster get-credentials cat7m89db7c3nf4asoq7 --external --force > ~/.kube/config
          kubectl cluster-info --kubeconfig ~/.kube/config

          kubectl config set-context --current --namespace=default

      - name: Debug Kubernetes access
        run: |
          kubectl config get-contexts
          kubectl get nodes
          kubectl get deployments -n default

      - name: Check permissions
        run: |
          kubectl auth can-i update deployment -n default
          kubectl auth can-i delete pods -n default

      # TODO deploy to k8s with liveness and readyness probes

      - name: Wait before services are ready
        run: kubectl wait -n default -l app.kubernetes.io/name=bmstu-rsoi pod --for=condition=Ready --timeout=3m
      

      # TODO setup parameters in classroom/autograding.json
      - name: Setup port forwarding
        run: |
          kubectl port-forward service/gateway-bmstu-rsoi 8080:8080 &
          sleep 10

      - name: Run API Tests
        uses: matt-ball/newman-action@master
        with:
          collection: v1/postman/collection.json
          environment: v1/postman/environment.json
          delayRequest: 100
          reporters: '[ "cli" ]'

      - name: Autograding
        uses: education/autograding@v1
        continue-on-error: true
