name: GitHub Classroom Workflow
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    name: Autograding
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: docker/setup-buildx-action@v2

      - name: Set up k8s
        uses: azure/setup-kubectl@v3
        with:
          version: 'v1.28.0'

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: 'v3.16.4'

      - name: Install Yandex Cloud CLI
        run: |
          curl -sSL https://storage.yandexcloud.net/yandexcloud-yc/install.sh | bash
          echo "${HOME}/yandex-cloud/bin" >> $GITHUB_PATH
          echo "Yandex Cloud CLI installed and added to PATH"

      # - name: Docker build
      #   run: docker compose build

      # - name: Publish to Docker Hub
      #   run: |
      #     docker login -u mamre32 -p ${{secrets.DOCKERHUB_PASSWORD}}
      #     docker compose push

      - name: Publish to Yandex Cloud
        timeout-minutes: 15
        env:
          YC_SERVICE_ACCOUNT_KEY: ${{ secrets.YC_SERVICE_ACCOUNT_KEY }}
        run: |
          set -e
          set -o pipefail
          set -x  # трассировка команд

          # ==== Настройка Yandex Cloud CLI ====
          echo "$YC_SERVICE_ACCOUNT_KEY" > sa-key.json
          export YC_SERVICE_ACCOUNT_KEY_FILE=sa-key.json
          yc config set service-account-key sa-key.json
          yc config set cloud-id b1gc22nq88j1ubeekuaq
          yc config set folder-id b1gtbc67fv6n4vd28msi

          # ==== Настройка KUBECONFIG ====
          mkdir -p ~/.kube
          export KUBECONFIG=$HOME/.kube/config
          yc managed-kubernetes cluster get-credentials cat7m89db7c3nf4asoq7 --external --force > "$KUBECONFIG"
          kubectl cluster-info

          # ==== Установка Helm Chart ====
          for svc in ticket flight bonus gateway; do
            helm uninstall $svc || true
            helm install $svc ./helm_service -f ./helm_service/values_$svc.yaml
            # Ждём доступность deployment
            kubectl wait --for=condition=available deployment/$svc-bmstu-rsoi -n default --timeout=120s
          done

          # ==== Настройка /etc/hosts ====
          sudo bash -c "echo '158.160.179.204 rsoi-lab.ru' >> /etc/hosts"

      - name: Debug Kubernetes access
        run: |
          set -x
          kubectl config get-contexts
          kubectl get nodes
          kubectl get deployments -n default
          kubectl get pods -n default --show-labels

      - name: Check permissions
        run: |
          set -x
          kubectl auth can-i update deployment -n default
          kubectl auth can-i delete pods -n default

      - name: Wait for services to be ready
        run: |
          set -x
          kubectl wait -n default -l app.kubernetes.io/instance=bmstu-rsoi pod --for=condition=Ready --timeout=3m

      - name: Setup port forwarding
        run: |
          set -x
          kubectl port-forward service/gateway-bmstu-rsoi 8080:8080 &
          sleep 10

      - name: Run API Tests
        run: |
          set -x
          # По строчно и с отключённой буферизацией
          export NODE_OPTIONS="--no-warnings"
          export stdbuf_out=$(which stdbuf || true)
          stdbuf -oL -eL newman run v1/postman/collection.json \
            --environment v1/postman/environment.json \
            --delay-request 100 \
            --reporters cli,json


      - name: Autograding
        uses: education/autograding@v1
        continue-on-error: true
